/* Left Side - Education */
.education {
 
    width: 600px; /* Fixed width */
      height: 120px; /* Fixed height */
      background: white;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
     
      text-align: center;
  }
  
  .education-title {
    color: rgb(51, 50, 50); /* You can use different shades like lightgray, darkgray */
  }
  
  .education-text {
    color: rgb(51, 50, 50); /* Use gray or any shade you prefer */
  }
  .content-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    text-align: left;
    height: auto;
  }
  
  .education:hover {
      transform: translateX(0);
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  }
  /* Right Side - Skills (Grid Format) */
  .skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 columns */
    gap: 15px;
  }
  /* Skill Boxes */
  .skill-box {
    width: 90px;
    height: 100px;
    background: white;
    box-shadow: 0px 4px 10px rgba(255, 215, 0, 0.6);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    /* color: #333; */
    flex-direction: column; /* Align image and text vertically */
    padding: 10px;
    transform: translateX(30px);
    opacity: 0;
    animation: slideInFromRight 0.6s ease-in-out forwards;
    animation-delay: 0.2s;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .skill-box:hover {
    transform: translateY(-10px); /* Moves the box upwards on hover */
    opacity:61; /* Optional: Makes the box fully visible on hover */
  }
  
  /* Image inside the skill-box */
  .skill-box img {
    width: 50px; /* Adjust image size */
    height: 50px; /* Adjust image size */
    margin-bottom: 8px; /* Space between image and text */
  }
  
  /* Text styling */
  .skill-box p {
    margin: 0;
    text-align: center;
  }
  
  @keyframes slideInFromRight {
    0% {
        transform: translateX(30px); /* Start from right */
        opacity: 0; /* Initially hidden */
    }
    100% {
        transform: translateX(0); /* End at normal position */
        opacity: 1; /* Fully visible */
    }
  }
  
  /* Skill Boxes on hover */
  .skill-box:hover {
    transform: scale(1.1) translateX(0); /* On hover, scale up and move back to normal position */
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
  }
  
  .skill-box:nth-child(1) {
    animation-delay: 0s;
  }
  
  .skill-box:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .skill-box:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  .skill-box:nth-child(4) {
    animation-delay: 0.6s;
  }
  
  .skill-box:nth-child(5) {
    animation-delay: 0.8s;
  }
  
  .skill-box:nth-child(6) {
    animation-delay: 1s;
  }
  
  
  section {
    margin-bottom: 3rem;
  }
  
  h2 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  h3 {
    font-size: 1.25rem;
    font-weight: 600;
  }
  